ipykernel==4.8.2
ipython==7.16.3
ipython-genutils==0.2.0
ipywidgets==7.2.1
matplotlib==3.0.0
numpy==1.21.0
numpydoc==0.8.0
pandas==0.23.0
pandocfilters==1.4.2
regex==2017.4.5
requests==2.21.0
requests-oauthlib==1.0.0

